@import 'icons/style.scss';
@import 'global.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'slider.scss';  
// @import 'section/about.scss';
// @import 'section/payment-gateway.scss';
// @import 'section/blog-list.scss'; 
// @import 'section/service.scss';  
// @import 'section/counter.scss'; 
// @import 'section/testimonial.scss'; 
// @import 'section/case-studies.scss';  

@tailwind utilities;
@import "tailwindcss";
@tailwind base;
@tailwind components;